<%= form_for (@todo) do |f| %>
<%= f.text_field :item, :placeholder => "Add new item" %>
<%= f.submit %>

<%= @todos.each do |f| %>

<ul>
	<li><%= todo.item %></li>
</ul>

<p><%= link_to "New",    'new_todo_path' %></p>
<p><%= link_to "Edit",   '#' %></p>
<p><%= link_to "Delete", '#' %></p>

